.d3-sunburst {
	
}

.d3-sunburst circle,
.d3-sunburst path {
	cursor: pointer;
}

.d3-sunburst circle {
	fill: none;
	pointer-events: all;
}

.d3-sunburst .d3-tooltip {
	background-color: white;
	padding: 3px 5px;
	border: 1px solid black;
	text-align: center;
}
