.d3-sunburst {

}

.d3-sunburst circle {
	cursor: zoom-out;
}

.d3-sunburst path {
	cursor: zoom-in;
}

.d3-sunburst circle {
	fill: none;
	pointer-events: all;
}

.d3-tooltip div {
	background-color: white;
	padding: 3px 5px;
	border: 1px solid black;
	text-align: center;
}
